<h1>The <%= @parent.family.name.capitalize %> Family</h1>
<h2>Welcome, <%= @parent.username.capitalize %>!</h2>
<h3>Here is a look at your family:</h3>
<h2>Parents:</h2>
<ul>
  <% @parent.family.parents.each do |parent| %>
    <li><h4><%= parent.username.capitalize%></h4>
    <% if parent == @parent %>
    <form action="/parents/<%=@parent.id%>/edit" method="GET">
      <input type="submit" value="Edit Parent" />
    </form>
    <%end%>
    </li>
  <% end %>
</ul>
<br></br>
<form action="/parents/new" method="GET">
  <input type="submit" value="Add a Parent" />
</form>
<br><br>
<h2>Children:</h2>
<ul>
<% @parent.children.each do |child| %>
 <li><h4><%= child.username.capitalize%></h4>
  <form action="/children/<%=child.id%>/edit" method="GET">
   <input type="submit" value="Edit Child" />
 </form>
  </li>
<% end %>
 </ul>
<br><br>
<form action="/children/signup" method="GET">
  <input type="submit" value="Add a Child" />
</form>
